.card {
  width: 25%;
  margin-right: .938em;
  border: .063em solid #18A0FB;
  border-radius: .375em;
  text-align: center;
  cursor: pointer;

  &__img {
    border-top-right-radius: .375em;
    border-top-left-radius: .375em;
  }

  &__icon {
    display: inline-block;
    padding: 1.25em 1.25em .625em;
    margin: auto;
    width: 9em;
  }

  &__title {
    margin: .625em auto;
    width: 80%;
    font-weight: 400;
    font-size: 1rem;

    &_area {
      margin: 0 auto 1.75em;
      color: #545454;
    }
  }

  &:hover,
  &:focus {
    background-color: #18A0FB;
    color: #ffffff;
  }

  &_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0;
    border: none;
    background: #e3e3e3;

    &:hover,
    &:focus {
      background: #e3e3e3;
      color: #000;
    }
  }
}

@media (max-width: 921px) {
  .card {
    width: 45%;
    margin: 0 0 .938em 0;

    &:nth-child(2n+1) {
      margin-right: .938em;
    }
  }
}

@media (max-width: 435px) {
  .card {
    width: 85%;
    margin: 0 0 .938em 0;

    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }
}
