* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
}

.title {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 500;
}

@media (max-width: 1014px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.375rem;
  }
}

.main {
  padding-top: 3.925em;
  flex: 1 0 auto;
}

@media (max-width: 768px) {
  .main {
    padding-top: 3.56em;
  }
}

.container {
  margin: 2.5em auto;
  max-width: 70%;
}

@media (max-width: 1026px) {
  .container {
    margin: 2em auto;
    max-width: 80%;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.hidden {
  display: none;
}

.checkbox-label {
  display: block;
}

.upload-modal {
  z-index: 999;
  display: none;
  overflow: hidden;
}

.upload-modal .overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.66);
  position: absolute;
  top: 0;
  left: 0;
}

.progress-container {
  background: white;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

.progress-container span {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
}

.progress {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #efefef;
  height: 20px;
  border-radius: 5px;
}

.progress-bar {
  position: absolute;
  background-color: #4aa1f3;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.error {
  color: #c31c1c;
}
