.area {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 3.125em;
  width: 100%;
  background: #e3e3e3;
  border-radius: .375em;
  text-align: center;
  color: #545454;
  cursor: pointer;

  &__icon {
    height: 3.5em;
    fill: #a7a7a7;
  }

  &__text {
    margin-bottom: 0;
  }

  &_result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 6.25em;
    cursor: default;
  }
}

.file-status-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.file-info {
  display: flex;
}

.file-name,
.file-error-message {
  font-weight: 500;
}

.file-size,
.file-error-message {
  margin-left: .5em;
}

.file-error-message,
.file-remove {
  color: #c31c1c;
}

.file-remove {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  font-weight: 700;
  cursor: pointer;
  opacity: .75;

  &-icon {
    margin-right: .3em;
    width: 20px;
  }

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

@media (max-width: 1114px) {
  .area {
    &_result {
      width: 67%;
    }
  }
}

@media (max-width: 768px) {
  .area {
    &_result {
      width: 100%;
    }
  }

  .file-size,
  .file-error-message {
    margin: .5em 0 0 0;
  }

  .file-info {
    flex-direction: column;
  }
}

@media (max-width: 554px) {
  .area {
    line-height: 1.5;

    &_result {
      padding: 6.25em 3.25em;
    }
  }
}
