.steps {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 7px;
}

.deco {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}

.extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}

.feature {
  display: flex;
  align-items: center;
  width: 45%;

  &__title {
    font-size: 16px;
  }

  &__img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }

  &__info {
    font-size: 0.885rem;
    line-height: 1.3;
  }
}
